@media screen and (min-width: $widthMediumPlus) {

#logo {
	display: block;
}

#header {
	height: 200px;
	padding: $defaultMargin * 4 $defaultMargin $defaultMargin $defaultMargin;
}

#header_wrap {
	height: 200px;
}

main {

	.signet {
	
	position: relative;
			
		&:before {
				background-image: url(../images/fm-signet.png);
				width: 34px;
				height: 28px;
				position: absolute;
				left: -34px;
				top: 0;
				content: '';
		}
	}

}

// COLUMNS + GRIDS

.column, .col {

	&.mediumplus-2 {
		width: 16.66667%;
	}
	&.mediumplus-3 {
		width: 25%;
	}
	&.mediumplus-4 {
		width: 33.33334%;
	} 
	&.mediumplus-5 {
		width: 41.667%;
	}
	&.mediumplus-6 {
		width: 50%;
	}
	&.mediumplus-7 {
		width: 58.3334%;
	}
	&.mediumplus-8 {
		width: 66.66667%;
	}
	&.mediumplus-9 {
		width: 75%;
	}
}

}
