html, body, #page {
	height: 100%;
}

#logo {
    text-indent: -100000px;
    background: url(../images/logo.png) center top no-repeat;
    width: 160px;
    height: 120px;
    background-size: contain;
    display: none;
}

#page {

	#barwrap {
		overflow: hidden;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		content: '';
		height: $defaultMargin;

		#bar {
			height: $defaultMargin;
			display: block;
			position: absolute;
			content: ' ';
			width: 100%;
			right: 0em;
			top: 0em;
			height: $defaultMargin * 5;
			background: $primaryColor;

			&:before {
				width: 30px;
				height: $defaultMargin;
				content: '';
				display: block;
				background: $primaryColor;
				-webkit-transform: rotate(110deg);
				-ms-transform: rotate(110deg);
				transform: rotate(110deg);
				position: absolute;
				left: -10px;
			}
		}
	}
}


#mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	padding: $defaultMargin;
	background: $white;
	height: $defaultMargin * 4;
	
	#logo {
		width: 150px;
		display: block;
	}
	#menu-open-button {
		position: absolute;
		top: $defaultMargin / 4;
		right: $defaultMargin;
		font-size: $defaultFontSize * 2;
	}
	#menu-close-button {
		position: absolute;
		top: $defaultMargin / 4;
		right: $defaultMargin;
		font-size: $defaultFontSize * 2;
		display: none;
	}
}

