// DEFAULTS

b,
strong {
  font-weight: bold;
}

em,
dfn {
  font-style: italic;
}


big, 
.big {
  font-size: 120%;
}

small,
.small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


// LINKS //

a {
  &:link, &:visited {
    color: $linkColor; 
    background-color: transparent;
    text-decoration: none;
    @include transition(all,.5s);

  }

  &:hover, &:focus, &:active {
    color: $linkHoverColor;
    outline: 0;
  
  }

  &.active {
    color: $linkActiveColor;
  }

}

// CUSTOMS


h1 {
	font-size: $defaultFontSize * 1.5;
  font-weight: 600;
}

h2 {
  font-size: $defaultFontSize * 1.2;
  font-weight: 600;
}

h3 {
  font-size: $defaultFontSize;
}

h4, h5, h6 {
  font-size: $defaultFontSize;
}

p {
  margin-bottom: $defaultMargin;
  line-height: $defaultLineHeight;
}

main {

  ul {

    margin-bottom: $defaultMargin;

    li {

      list-style-type: disc;
      list-style-position: outside;
      margin-left: 30px;
      line-height: $defaultLineHeight;
    }
  }

  ol {

    margin-bottom: $defaultMargin;

    li {
      list-style-position: outside;
      list-style-type: decimal;
      margin-left: 20px;
      line-height: $defaultLineHeight;
    }
  }

}

figcaption {
  font-size: $defaultFontSize * 0.8;
  line-height: $defaultLineHeight * 2;
  
}

